<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Cartelera</h1>
    {% for pelicula in cartelera %}
    {% if pelicula.activa %}
        <div style="padding:20px; border: 2px solid red; margin-bottom: 10px">
            <p>id: {{ pelicula.id }}</p>
            <p>Titulo: {{ pelicula.titulo }}</p>
            <p>Duracion: {{ pelicula.duracion_min }}</p>
            <p>Genero: {{ pelicula.genero }}</p>
            <p>Clasificacion: {{ pelicula.clasificacion }}</p>
            <p>Estado: {{ pelicula.activa }}</p>
        </div>
    {% endif %}
    {% endfor %}
</body>
</html>