{% extends "cine/base_generic.html" %}

{% block content %}
    <h1>Entradas</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Asiento</th>
            <th scope="col">Vendido</th>
            <th scope="col">Fecha</th>
            <th scope="col">Opciones</th>
        </tr>
        </thead>
        <tbody>
        {% for entrada in data %}
            <tr>
                <th scope="row">{{ entrada.id }}</th>
                <td>{{ entrada.asiento }}</td>
                {% if entrada.vendido == True %}
                <td>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-check-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0m-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z"/>
                  </svg>
                </td>
                {% else %}
                <td>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-x-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0M6.854 8.146a.5.5 0 1 0-.708.708L7.293 10l-1.147 1.146a.5.5 0 0 0 .708.708L8 10.707l1.146 1.147a.5.5 0 0 0 .708-.708L8.707 10l1.147-1.146a.5.5 0 0 0-.708-.708L8 9.293z"/>
                  </svg>
                </td>
                {% endif %}
                <td>{{ entrada.funcion.fecha_horario }}</td>
                <td>
                    <a href="pelicula_details/{{ owner.id }}" class="btn btn-outline-success">Editar</a>
                    <a href="#" class="btn btn-outline-warning">Eliminar</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
