{% extends "cine/base_generic.html" %}

{% block content %}
    <h1>Peliculas</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Pelicula</th>
            <th scope="col">Duracion</th>
            <th scope="col">Clasificacion</th>
            <th scope="col">Genero</th>
            <th scope="col">Opciones</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>{{ data.titulo }}</td>
                <td>{{ data.clasificacion }}</td>
                <td>{{ data.duracion }}</td>
                <td>{{ data.genero }}</td>
                <td>
                    <a href="pelicula_details/{{ data.id }}" class="btn btn-outline-success">Editar</a>
                    <a href="#" class="btn btn-outline-warning">Eliminar</a>

                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
