{% extends "cine/base_generic.html" %}

{% block content %}
    <p>ACTUALIZAR CLASIFICACION</p>
    <div>
        <form class="row g-3" method="GET">
            <div class="col-auto">
                <label for="staticEmail2" class="visually-hidden">Nueva clasificacion</label>
                <input type="text" class="form-control-plaintext" id="staticEmail2" name="q" placeholder="Nueva clasificacion...." value="{{ q | escape}}">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">ACTUALIZAR</button>
            </div>
        </form>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Pelicula</th>
            <th scope="col">Clasificacion</th>
            <th scope="col">Duracion</th>
            <th scope="col">Genero</th>
            <th scope="col">Opciones</th>
        </tr>
        </thead>
        <tbody>
        {% for pelicula in data %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ pelicula.titulo }}</td>
                <td>{{ pelicula.clasificacion }}</td>
                <td>{{ pelicula.duracion }}</td>
                <td>{{ pelicula.genero }}</td>
                <td>
                    <a href="pelicula_details/{{ pelicula.id }}" class="btn btn-outline-success">Editar</a>
                    <a href="#" class="btn btn-outline-warning">Eliminar</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}