{% extends "cine/base_generic.html" %}

{% block content %}
    <p>Busqueda Snacks</p>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
            <th scope="col">Entrada</th>
            <th scope="col">Opciones</th>
        </tr>
        </thead>
        <tbody>
        {% for snacks in data %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ snacks.producto }}</td>
                <td>{{ snacks.cantidad }}</td>
                <td>{{ snacks.precio_unitario }}</td>
                <td>{{ snacks.entrada.id }}</td>
                <td>
                    <a href="pelicula_details/{{ snacks.id }}" class="btn btn-outline-success">Editar</a>
                    <a href="#" class="btn btn-outline-warning">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}